.icon {
  font-size: 40px;
  position: fixed;
  top: 25px;
  left: 40px;
  padding: 10px 20px;
  background-color: rgba(184, 180, 180, 0.514);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.icon_column {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.fa-github-square {
  color: black;
}
.fa-spotify {
  color: #1cf151;
}
.fa-instagram {
  color: white;
}
.fa-youtube {
  color: red;
}
#greeting {
  margin-bottom: 0px;
  font-size: 75px;
  color: #b8a0e9;
  z-index: 2;
}
#clock {
  font-size: 150px;
  text-align: center;
  margin: 30px 0px;
  color: #b8a0e9;
  z-index: 3;
}
#quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  bottom: 30px;
  color: #b8a0e9;
  font-weight: 800px;
  z-index: 4;
}
#quote span:first-child {
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
#quote span:last-child {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
#weather {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 25px;
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
#login-form input {
  outline: none;
  height: 50px;
  width: 230px;
  font-size: 30px;
  border-radius: 25px;
}
#login-form button {
  outline: none;
  height: 50px;
  width: 60px;
  border-radius: 50%;
}
#todo-form {
  padding-top: 30px;
}
#todo-form input {
  width: 400px;
  height: 40px;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
#todo-form input::placeholder {
  color: white;
}
#todo-list {
  list-style: none;
  color: #b8a0e9;
  font-size: 25px;
  border-radius: 10px;
  padding-left: 5px;
}
#todo-list li {
  margin-bottom: 5px;
}
#todo-list button {
  margin-left: 30px;
  font-size: 25px;
  background-color: #b8a0e9;
  color: white;
  border: none;
  border-radius: 15px;
}
